@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Members.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creează</h1>

<h4>Membru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Member.FirstName" class="control-label">Prenume</label>
                <input asp-for="Member.FirstName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Member.LastName" class="control-label">Nume</label>
                <input asp-for="Member.LastName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Member.Email" class="control-label">Email</label>
                <input asp-for="Member.Email" class="form-control" aria-required="true"/>
                <span asp-validation-for="Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Member.Phone" class="control-label">Telefon</label>
                <input asp-for="Member.Phone" class="form-control" aria-required="true"/>
                <span asp-validation-for="Member.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.JoinDate" class="control-label">Data de înscriere</label>
                <input asp-for="Member.JoinDate" class="form-control" />
                <span asp-validation-for="Member.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.TrainerId" class="control-label">Antrenor</label>
                <select asp-for="Member.TrainerId" class ="form-control" asp-items="ViewBag.TrainerId" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Creează" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
