@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Trainers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creează</h1>

<h4>Antrenor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Trainer.FirstName" class="control-label">Prenume</label>
                <input asp-for="Trainer.FirstName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Trainer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Trainer.LastName" class="control-label">Nume</label>
                <input asp-for="Trainer.LastName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Trainer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Specialization" class="control-label">Specializare</label>
                <input asp-for="Trainer.Specialization" class="form-control" />
                <span asp-validation-for="Trainer.Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Phone" class="control-label">Telefon</label>
                <input asp-for="Trainer.Phone" class="form-control" />
                <span asp-validation-for="Trainer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creeaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi la listă</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
