@page
@model Pop_Alexandru_Aurel_Proiect.Pages.SubscriptionsType.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Tip de abonament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nume
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionType.Name)
        </dd>
        <dt class="col-sm-2">
            Durată in zile
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionType.DurationInDays)
        </dd>
        <dt class="col-sm-2">
            Preț
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionType.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubscriptionType.SubscriptionTypeId">Editează</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
